.target {
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  /* border: 1px solid black; */
  width: 16rem;
  min-height: 16rem;
  min-height: 20rem;
}

.target h2 {
  margin: 0;
}

.target img {
  width: 140px;
  margin: auto;
  /* border: 1px solid black; */
}

.target p {
  padding: 5px;
  float: left;
}

.itemsCard {
  display: flex;
  flex-direction: column;
}

.itemsTypes {
  background-color: rgba(255, 255, 255, 0.369);
  border-radius: 5px;
  margin: 1px;
}

.itemsStats p {
  background-color: rgba(255, 255, 255, 0.369);
  width: 100%;
  margin: 1px;
  border-radius: 5px;
}
