.containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 6rem;
}

.logo {
  height: 8rem;
  margin-bottom: 1rem;
}

.itemsCardDetail {
  width: 70%;
}

.containerNameImg {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

.containerNameImg img {
  width: 500px;
  margin-left: 33%;
  margin-top: -14rem;
  margin-bottom: -15%;
}

.logo img {
  width: 300px;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
}

.containerWeightHeight {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 12rem;
}

.number {
  font-size: 25px;
  font-weight: bold;
}

.gray {
  color: gray;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.line {
  width: 20%;
  border: 1px solid lightgrey;
  height: 1px;
  margin: 5px;
  margin: auto;
  margin-top: -2rem;
}

.containerLine {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

.name p {
  border: 1px solid lightgrey;
  padding: 5px;
  margin: 5px;
}

.container {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display p {
  background-color: rgba(246, 245, 243, 0.625);
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 3rem;
  width: 8rem;
  border-radius: 5px;
  margin: 5px;
}

.title h2 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -3rem;
}

.containerTypeAbility {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  flex-wrap: wrap;
}

.moves {
  background-color: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.containerMoves {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  margin-left: 1rem;
}

button {
  font-size: 20px;
  color: gray;
  padding: 5px;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 30px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  min-height: 3rem;
}

.stats {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  min-height: 10rem;
  border-radius: 5px;
}

.stats_items p {
  margin-bottom: 1rem;
}

.stats_items {
  display: flex;
}

.state_name p {
  background-color: lightgrey;
  width: 9rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 1rem;
}

.state_name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
}

.state_base {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerMoves p {
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem;
  margin: auto;
}

.skills {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  background: linear-gradient(#a6a2a2 0%, rgb(191, 188, 188) 10%, lightgrey);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
  width: 95%;
  height: 2rem;
}

.skills:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(211, 211, 211, 0.164);
  z-index: 10;
}

.skills .percent {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: gray;
  box-shadow: inset 0 0 10px lightgrey;
  overflow: hidden;
}

.skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px gray;
  animation: animate 4s ease-in-out forwards;
}

@keyframes animate {
  from {
    width: 0;
  }
}

.skills:nth-child(1) .percent .progress {
  background: linear-gradient(45deg, #ffd61f, lightgrey);
}
.skills:nth-child(2) .percent .progress {
  background: linear-gradient(45deg, #ffd61f, lightgrey);
}
.skills:nth-child(3) .percent .progress {
  background: linear-gradient(45deg, #ffd61f, lightgrey);
}
.skills:nth-child(4) .percent .progress {
  background: linear-gradient(45deg, #ffd61f, lightgrey);
}
.skills:nth-child(5) .percent .progress {
  background: linear-gradient(45deg, #ffd61f, lightgrey);
}
.skills:nth-child(6) .percent .progress {
  background: linear-gradient(45deg, #ffd61f, lightgrey);
}

.cardPokemon .link button {
  background-color: transparent;
  color: black;
  position: absolute;
  top: 1rem;
  left: 6rem;
  font-size: 35px;
  cursor: pointer;
  text-decoration: solid;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardPokemon .link button:hover {
  background-color: rgba(248, 248, 248, 0.64);
  color: rgb(113, 108, 108);
}

@media (max-width: 1920px) {
  .containerNameImg img {
    width: 500px;
    margin-top: -16rem;
    margin-bottom: -12rem;
    margin-left: 32%;
  }
}

@media (max-width: 1366px) {
  .containerNameImg img {
    width: 500px;
    margin-top: -16rem;
    margin-bottom: -12rem;
    margin-left: 23%;
  }
}

@media (max-width: 1024px) {
  .containerNameImg img {
    width: 400px;
    margin-top: -16rem;
    margin-bottom: -12rem;
    margin-left: 23%;
  }

  .containerNameImg {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .cardPokemon {
    margin: 0;
    padding: 1rem;
  }

  .containerCard {
    flex-direction: column;
  }

  .itemsCardDetail {
    width: 100%;
  }

  .containerMoves {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0rem;
  }
}

@media (max-width: 480px) {
  .containerCard {
    width: 100%;
    padding: 0.5rem;
    margin-top: -6rem;
  }

  .containerNameImg img {
    width: 300px;
    margin-left: 15%;
    margin-bottom: -10rem;
  }

  .cardPokemon .link button {
    top: 0.5rem;
    left: 1rem;
  }

  .containerWeightHeight {
    justify-content: space-around;
    text-align: center;
    margin-top: 10rem;
    width: 100%;
  }

  .containerLine {
    display: none;
  }

  .container {
    width: 100%;
    padding: 0rem;
    border-radius: 5px;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    margin-top: 0.5rem;
  }

  .line {
    display: none;
  }

  .stats {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    min-height: 10rem;
    border-radius: 5px;
  }

  .stats h2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .state_name p {
    background-color: lightgrey;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: left;
    justify-content: start;
    border-radius: 5px;
    margin-left: 0.5rem;
    font-size: 15px;
  }

  .skills {
    width: 85%;
  }

  .containerMoves {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }
  .containerMoves h2 {
    width: 100%;
  }

  .display {
    margin-bottom: 1rem;
  }

  .logo {
    height: 8rem;
    margin-bottom: 8rem;
  }

  .logo img {
    margin-left: 3rem;
  }
}

@media (max-width: 320px) {
  .cardPokemon {
    margin: 0;
    padding: 1rem;
  }
  .containerNameImg {
    margin-top: -1rem;
  }

  .containerNameImg img {
    width: 250px;
    margin-left: 0rem;
    margin-bottom: -10rem;
  }

  .logo img {
    left: 0rem;
    width: 250px;
  }

  .display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 3rem;
    margin-bottom: 1rem;
  }
}
