.sectionPokemons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerPokemons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
}

.welcome {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
}

.welcome h1 {
  font-size: 45px;
  margin-bottom: 1rem;
}

.welcome p {
  font-size: 20px;
}

.search {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search select {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 40%;
  height: 2.5rem;
  border: 1px solid lightgrey;
  font-size: 20px;
  color: gray;
}

.input_search {
  box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  width: 75%;
  height: 3rem;
  justify-content: space-between;
  border-radius: 20px;
}

.input_search button {
  height: 100%;
  background-color: rgb(57, 234, 25);
  color: #fff;
  border-radius: 20px;
}

.input_search input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  padding-left: 1.5rem;
  outline: none;
}

.welcome .link button {
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 1rem;
  left: 93%;
  font-size: 35px;
  cursor: pointer;
  text-decoration: solid;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 234, 25);
}

.welcome .link button:hover,
.arrow button:hover,
.pages button:hover,
.input_search button:hover {
  background-color: lightgrey;
  color: rgb(57, 234, 25);
}

.arrow button {
  width: 100px;
  height: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.arrow {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
  margin: 1rem;
}

.pages button {
  width: 4rem;
  height: 3rem;
  margin: 5px;
}

@media (max-width: 600px) {
  .welcome {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .welcome .link button {
    left: 50%;
    font-size: 30px;
    width: 2.5rem;
    height: 2.5rem;
  }

  .search {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search select {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
  }

  .input_search {
    width: 90%;
  }

  .arrow {
    width: 100%;
    margin-top: 0rem;
  }

  .arrow button {
    width: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .containerPokemons {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
